<% layout('layouts/boilerplate')%>

    <h1>Editar Comanda núm. <%= invoice.numInvoice %>
    </h1>
    <p>
        <b>Responsable: <%= invoice.responsable.username %> </b>
    </p>
    <div class="table-responsive">
        <table id="taulaOriginal" class="table table-condensed table-striped table-hover">
            <form action="/invoices/<%=invoice._id%>?_method=PUT" method="POST" id="formulari"
                class="validated-form form-inline">
                <tr>

                    <th><small>Quantitat</small></th>
                    <th><small>Article</th>
                    <th><small>€/Unitat</small></th>
                    <th><small>% IVA</small></th>
                    <th><small>Subtotal €</small></th>
                    <th><small>Unitat de destí</small></th>
                    <th><small>Proveidor</small></th>
                    <th></th>


                </tr>
                <% let i=0; for (let linia of invoice.invoice) { i++ %>
                    <tr class="trs">
                        <div class="form-group container">

                            <input type="hidden" class="tr<%=i%>" value=" <%= linia[0] %>" id="naturalesaInput"></small>
                            <input type="hidden" class="tr<%=i%>" value="<%= linia[1] %>" id="tipusInput"> </small>


                            <div class="row">

                                <td>
                                    <div class="numeros form-control-sm"><small><input
                                                class="variable petit form-control unitari numeros tr<%=i%>" type="number"
                                                id="quantitatInput" value="<%= linia[3] %>"></small>
                                    </div>
                                </td>

                            </div>

                            <div class="row">

                                <td>
                                    <div class="form-control-sm"><small><input type="text"
                                                class=" form-control mitja esquerra tr<%=i%>" value="<%= linia[2] %>"
                                                id="articleInput"> </small> </div>
                                </td>


                            </div>

                            <div class="row">

                                <td>
                                    <div class="numeros form-control-sm"><small><input
                                                class="variable form-control petit numeros tr<%=i%>" type="number"
                                                id="preuInput" value="<%= linia[4] %>"></small> </div>
                                </td>

                            </div>

                            <div class="row">
                                <td>
                                    <div class="numeros form-control-sm"><small><input
                                                class="variable form-control numeros unitari tr<%=i%>" type="number"
                                                id="ivaInput" value="<%= linia[5] %>"></small>
                                    </div>
                                </td>

                            </div>

                            <div class="row">
                                <td>
                                    <div class="numeros form-control-sm"><small><input readonly
                                                class=" form-control petit_mitja numeros tr<%=i%>" type="text"
                                                id="subtotalInput"
                                                value="<%= (linia[3]*linia[4]*(1+linia[5]/100)).toFixed(2) %>"></small>
                                    </div>
                                </td>


                            </div>
                            <div class="row">
                                <td>
                                    <div class="camps form-control-sm"><small><input
                                                class=" form-control mitja esquerra tr<%=i%>" type="text"
                                                id="unitatInput" value="<%= linia[6] %>">
                                        </small> </div>
                                </td>


                                <input type="hidden" class="tr<%=i%>" id="zonaInput" value="<%= linia[7] %>">
                                <input type="hidden" class="tr<%=i%>" id="plantaInput" value="<%= linia[8] %>">
                                <input type="hidden" class="tr<%=i%>" id="areaInput" value="<%= linia[9] %>">


                                <div class="row">
                                    <td>
                                        <div class="camps form-control-sm"><small><input
                                                    class=" form-control mitja esquerra tr<%=i%>" type="text"
                                                    id="proveidorInput" value="<%= linia[10] %>"> </small>
                                        </div>
                                    </td>

                                </div>


                                <td>
                                    <button class="botoEsborrar" type="button">X</p>
                                </td>


                            </div>
                        </div>

                    </tr>
                    <% } %>

        </table>

        <table>
            <td> <button id="relative" class="btn btn-primary form-control">Modificar Comanda</button></td>

        </table>

        </form>



        <p class="h5 row numeros">
            <span class="sumatori-total">Total Comanda: <%= invoice.total %>€ (IVA inclòs) </span>
        </p>
        <p class="row numeros">
            <a id="afegir" href="#" class="link-primary">Afegir Article</a>
        </p>
    </div>

    <script>

        
        const afegirLinia = document.querySelector("#afegir");
        const taulaOriginal = document.querySelector("#taulaOriginal");
        const TrsAesborrar = document.querySelectorAll('.trs');

        



        // Afegeixo el listener a la taula i comprovo cada click
        taulaOriginal.addEventListener('click', () => {
            //event.stopPropagation()

            clickedEl = event.target;

            // Comprovo que el click vingui de una row o els elements
            // que hi han a dins, a la vegada agafo la rowEl
            const botoEl = clickedEl.closest('.botoEsborrar');
            const trEl = clickedEl.closest('.trs')

            // Si no hi ha rowEl vol dir que s'ha clickat en algun lloc
            // de la taula que no es una row? no se si es possible

            if (botoEl) {

                trEl.remove();

            }

        })


// Afegeixo el listener a la taula i comprovo cada click
taulaOriginal.addEventListener('input', () => {
    //event.stopPropagation()

    clickedEl = event.target;

    // Comprovo que el click vingui de una row o els elements
    // que hi han a dins, a la vegada agafo la rowEl
    const botoEl = clickedEl.closest('.variable');
    const trEl = clickedEl.closest('.trs')

    // Si no hi ha rowEl vol dir que s'ha clickat en algun lloc
    // de la taula que no es una row? no se si es possible

    if (botoEl) {

        console.log(trEl);

    }

})






        afegirLinia.addEventListener("click", () => {
            const row = crearLinia();
        });

        function crearLinia() {
            const rowNova = taulaOriginal.insertRow();
            rowNova.className = "trs";

            const nouQuantitatCell = rowNova.insertCell();
            const nouInputQuantitat = document.createElement("input");
            nouInputQuantitat.className = 'variable petit form-control unitari numeros';
            nouInputQuantitat.type = 'number';
            nouQuantitatCell.appendChild(nouInputQuantitat);


            const nouArticleCell = rowNova.insertCell();
            const nouInputArticle = document.createElement("input");
            nouInputArticle.className = 'form-control mitja esquerra';
            nouInputArticle.type = 'text';
            nouArticleCell.appendChild(nouInputArticle);

            const nouPreuCell = rowNova.insertCell();
            const nouInputPreu = document.createElement("input");
            nouInputPreu.className = 'variable form-control petit numeros';
            nouPreuCell.appendChild(nouInputPreu);
            nouInputPreu.type = 'number';

            const nouIvaCell = rowNova.insertCell();
            const nouInputIva = document.createElement("input");
            nouInputIva.className = 'variable form-control numeros unitari';
            nouInputIva.type = 'number';
            nouIvaCell.appendChild(nouInputIva);

            const nouSubtotalCell = rowNova.insertCell();
            const nouInputSubtotal = document.createElement("input");
            nouInputSubtotal.className = 'form-control petit_mitja numeros';
            nouInputSubtotal.type = 'number';
            nouSubtotalCell.appendChild(nouInputSubtotal);

            const nouUnitatCell = rowNova.insertCell();
            const nouInputUnitat = document.createElement("input");
            nouInputUnitat.className = 'form-control mitja esquerra';
            nouInputUnitat.type = 'text';
            nouUnitatCell.appendChild(nouInputUnitat);

            const nouProveidorCell = rowNova.insertCell();
            const nouInputProveidor = document.createElement("input");
            nouInputProveidor.className = 'form-control mitja esquerra'
            nouInputProveidor.type = 'text';
            nouProveidorCell.appendChild(nouInputProveidor);


            const tdCell = rowNova.insertCell();
            const botoEsborrar = document.createElement("button");
            botoEsborrar.className = 'botoEsborrar'
            botoEsborrar.innerText = 'X';
            tdCell.appendChild(botoEsborrar);


            return rowNova
        }



        function recalcular() {

            console.log('hola!');

            

        }

    </script>