<% layout('layouts/boilerplate')%>

    <h3>Editar Comanda núm. <%= invoice.numInvoice %></h3>
    <p>
        <b>Responsable: <%= invoice.responsable.username %> </b>
    </p>
    <div class="table-responsive">
        <table id="taulaOriginal" class="table table-condensed table-hover">
            <form action="/invoices/<%=invoice._id%>?_method=PUT" method="POST" id="formulari"
                class="validated-form form-inline">
                <tr>

                    <th><small>Quantitat</small></th>
                    <th><small>Article</th>
                    <th><small>€/Unitat</small></th>
                    <th><small>% IVA</small></th>
                    <th><small>Subtotal €</small></th>
                    <th><small>Unitat de destí</small></th>
                    <th><small>Proveidor</small></th>
                    <th></th>

                </tr>
                <% let i=0; for (let linia of invoice.invoice) { i++ %>
                    <tr class="trs">
                        <div class="form-group container">
                            <!-- COMENÇAMENT CAMPS -->
                            <input type="hidden" class="tr<%=i%>" id="quantitatInputTr<%=i%>" value="<%= linia[3] %>">
                            <input type="hidden" class="tr<%=i%>" id="articleInputTr<%=i%>" value="<%= linia[2] %>">
                            <input type="hidden" class="tr<%=i%>" id="preuInputTr<%=i%>" value="<%= linia[4] %>">
                            <input type="hidden" class="tr<%=i%>" id="ivaInputTr<%=i%>" value="<%= linia[5] %>">
                            <input type="hidden" class="tr<%=i%>" id="subtotalInputTr<%=i%>"
                                value="<%= (linia[3]*linia[4]*(1+linia[5]/100))%>">
                            <input type="hidden" class="tr<%=i%>" id="unitatInputTr<%=i%>" value="<%= linia[6] %>">
                            <input type="hidden" class="tr<%=i%>" id="proveidorInputTr<%=i%>" value="<%= linia[10] %>">
                            <input type="hidden" class="tr<%=i%>" value=" <%= linia[0] %>" id="naturalesaInput">
                            <input type="hidden" class="tr<%=i%>" value="<%= linia[1] %>" id="tipusInput">
                            <input type="hidden" class="tr<%=i%>" id="zonaInput" value="<%= linia[7] %>">
                            <input type="hidden" class="tr<%=i%>" id="plantaInput" value="<%= linia[8] %>">
                            <input type="hidden" class="tr<%=i%>" id="areaInput" value="<%= linia[9] %>">
                            <input type="hidden" id="invoice" name="invoice[invoice]">
                            <input type="hidden" id="total" name="invoice[total]" value="<%= invoice.total %>">
                            <input type="hidden" id="timestamp" name="invoice[timestamp]">
                            <!-- FINAL CAMPS -->
                        </div>
    </div>
    </tr>
    <% } %>

        </table>

        <table>
            <td> <button id="relative" class="btn btn-primary form-control">Modificar Comanda</button></td>

            <div class="h5 row numeros">
                <span class="sumatori-total">Total Comanda: <%= invoice.total %>€ (IVA INCLÒS) </span>
            </div>

        </table>

        </form>

        <p class="h5 row numeros">
            <span class="sumatori-total"></span> <span></span>
        </p>
        <p class="row numeros">
            <a id="afegir" href="#" class="link-primary">Afegir Article</a>
        </p>
        </div>

        <script>
            const afegirLinia = document.querySelector("#afegir");
            const taulaOriginal = document.querySelector("#taulaOriginal");
            const taulaOriginalLength = taulaOriginal.rows.length - 1;
            taulaOriginal.addEventListener('input', () => {

                recalcularTaula();
            })

            function recalcularTaula() {
                const quantitatLinia = document.querySelectorAll('.quantitat');
                const preuLinia = document.querySelectorAll('.preu');
                const ivaLinia = document.querySelectorAll('.iva');
                const resultatLinia = document.querySelectorAll('.resultat')
                const inputsSubtotals = document.querySelectorAll('.subtotal');

                let totalInvoice = 0;

                if (inputsSubtotals.length != 0) {
                    y = 0;

                    for (let inputSubtotal of inputsSubtotals) {



                        resultatLinia[y].value = (new Number(quantitatLinia[y].value * new Number(preuLinia[y].value) * (1 + new Number(ivaLinia[y].value) / 100)).toFixed(2));


                        totalInvoice = (new Number(totalInvoice) + new Number(resultatLinia[y].value)).toFixed(2);

                        const sumatoriTotal = document.querySelector('.sumatori-total');
                        sumatoriTotal.innerText = (`Total comanda: ${totalInvoice}€ (IVA inclòs)`);

                        y++

                    }

                }

                else {

                    totalInvoice = 0;

                    const sumatoriTotal = document.querySelector('.sumatori-total');
                    sumatoriTotal.innerText = '';
                }

            }

            // CREO LA TAULA ORIGINAL

            function crearTaulaOriginal() {
                for (r = 1; r <= taulaOriginalLength; r++) {
                    const quantitatTaulaOriginal = document.querySelector(`#quantitatInputTr${r}`).value;
                    const articleTaulaOriginal = document.querySelector(`#articleInputTr${r}`).value;
                    const preuTaulaOriginal = document.querySelector(`#preuInputTr${r}`).value;
                    const ivaTaulaOriginal = document.querySelector(`#ivaInputTr${r}`).value;
                    const subtotalTaulaOriginal = document.querySelector(`#subtotalInputTr${r}`).value;
                    const unitatTaulaOriginal = document.querySelector(`#unitatInputTr${r}`).value;
                    const proveidorTaulaOriginal = document.querySelector(`#proveidorInputTr${r}`).value;
                    const rowNova = taulaOriginal.insertRow();
                    rowNova.className = "trs";
                    const nouQuantitatCell = rowNova.insertCell();
                    const nouInputQuantitat = document.createElement("input");
                    nouInputQuantitat.className = 'variable petit form-control unitari numeros quantitat';
                    nouInputQuantitat.type = 'number';
                    nouInputQuantitat.value = quantitatTaulaOriginal;
                    nouQuantitatCell.appendChild(nouInputQuantitat);
                    const nouArticleCell = rowNova.insertCell();
                    const nouInputArticle = document.createElement("input");
                    nouInputArticle.className = 'form-control mitja esquerra';
                    nouInputArticle.type = 'text';
                    nouInputArticle.value = articleTaulaOriginal;
                    nouArticleCell.appendChild(nouInputArticle);
                    const nouPreuCell = rowNova.insertCell();
                    const nouInputPreu = document.createElement("input");
                    nouInputPreu.className = 'variable form-control petit numeros preu';
                    nouInputPreu.type = 'number';
                    nouInputPreu.value = preuTaulaOriginal;
                    nouPreuCell.appendChild(nouInputPreu);
                    const nouIvaCell = rowNova.insertCell();
                    const nouInputIva = document.createElement("input");
                    nouInputIva.className = 'variable form-control numeros unitari iva';
                    nouInputIva.type = 'number';
                    nouInputIva.value = ivaTaulaOriginal;
                    nouIvaCell.appendChild(nouInputIva);
                    const nouSubtotalCell = rowNova.insertCell();
                    const nouInputSubtotal = document.createElement("input");
                    nouInputSubtotal.className = `form-control petit_mitja numeros subtotal resultat`;
                    nouInputSubtotal.type = 'number';
                    nouInputSubtotal.value = new Number(nouInputQuantitat.value * nouInputPreu.value * (1 + nouInputIva.value / 100));
                    nouSubtotalCell.appendChild(nouInputSubtotal);
                    const nouUnitatCell = rowNova.insertCell();
                    const nouInputUnitat = document.createElement("input");
                    nouInputUnitat.className = 'form-control mitja esquerra';
                    nouInputUnitat.type = 'text';
                    nouInputUnitat.value = unitatTaulaOriginal;
                    nouUnitatCell.appendChild(nouInputUnitat);
                    const nouProveidorCell = rowNova.insertCell();
                    const nouInputProveidor = document.createElement("input");
                    nouInputProveidor.className = 'form-control mitja esquerra'
                    nouInputProveidor.type = 'text';
                    nouInputProveidor.value = proveidorTaulaOriginal;
                    nouProveidorCell.appendChild(nouInputProveidor);
                    const tdCell = rowNova.insertCell();
                    const botoEsborrar = document.createElement("button");
                    botoEsborrar.className = 'botoEsborrar'
                    botoEsborrar.innerText = 'X';
                    tdCell.appendChild(botoEsborrar);

                }

            }

            crearTaulaOriginal()
            // Afegeixo el listener a la taula i comprovo cada click
            taulaOriginal.addEventListener('click', () => {
                //event.stopPropagation()
                clickedEl = event.target;
                // Comprovo que el click vingui de una row o els elements
                // que hi han a dins, a la vegada agafo la rowEl
                const botoEl = clickedEl.closest('.botoEsborrar');
                const trEl = clickedEl.closest('.trs')
                // Si no hi ha rowEl vol dir que s'ha clickat en algun lloc
                // de la taula que no es una row? no se si es possible

                if (botoEl) {

                    trEl.remove();
                    recalcularTaula();

                }

            })

            // Afegeixo el listener a la taula i comprovo cada click
            taulaOriginal.addEventListener('input', () => {
                //event.stopPropagation()
                clickedEl = event.target;
                // Comprovo que el click vingui de una row o els elements
                // que hi han a dins, a la vegada agafo la rowEl
                const botoEl = clickedEl.closest('.variable');
                const trEl = clickedEl.closest('.trs')
                // Si no hi ha rowEl vol dir que s'ha clickat en algun lloc
                // de la taula que no es una row? no se si es possible

            })

            afegirLinia.addEventListener("click", () => {
                const row = crearLinia();

            })

            function crearLinia() {
                const rowNova = taulaOriginal.insertRow();
                rowNova.className = "trs";
                const nouQuantitatCell = rowNova.insertCell();
                const nouInputQuantitat = document.createElement("input");
                nouInputQuantitat.className = 'variable petit form-control unitari numeros quantitat';
                nouInputQuantitat.type = 'number';
                nouQuantitatCell.appendChild(nouInputQuantitat);
                const nouArticleCell = rowNova.insertCell();
                const nouInputArticle = document.createElement("input");
                nouInputArticle.className = 'form-control mitja esquerra';
                nouInputArticle.type = 'text';
                nouArticleCell.appendChild(nouInputArticle);
                const nouPreuCell = rowNova.insertCell();
                const nouInputPreu = document.createElement("input");
                nouInputPreu.className = 'variable form-control petit numeros preu';
                nouPreuCell.appendChild(nouInputPreu);
                nouInputPreu.type = 'number';
                const nouIvaCell = rowNova.insertCell();
                const nouInputIva = document.createElement("input");
                nouInputIva.className = 'variable form-control numeros unitari iva';
                nouInputIva.type = 'number';
                nouIvaCell.appendChild(nouInputIva);
                const nouSubtotalCell = rowNova.insertCell();
                const nouInputSubtotal = document.createElement("input");
                nouInputSubtotal.className = 'form-control petit_mitja numeros subtotal resultat';
                nouInputSubtotal.type = 'number';
                nouSubtotalCell.appendChild(nouInputSubtotal);
                const nouUnitatCell = rowNova.insertCell();
                const nouInputUnitat = document.createElement("input");
                nouInputUnitat.className = 'form-control mitja esquerra';
                nouInputUnitat.type = 'text';
                nouUnitatCell.appendChild(nouInputUnitat);
                const nouProveidorCell = rowNova.insertCell();
                const nouInputProveidor = document.createElement("input");
                nouInputProveidor.className = 'form-control mitja esquerra'
                nouInputProveidor.type = 'text';
                nouProveidorCell.appendChild(nouInputProveidor);
                const tdCell = rowNova.insertCell();
                const botoEsborrar = document.createElement("button");
                botoEsborrar.className = 'botoEsborrar'
                botoEsborrar.innerText = 'X';
                tdCell.appendChild(botoEsborrar);
                recalcularTaula();
                return rowNova

            }

        </script>